chromeTabSpaceAbove = 1em
chromeTabSpaceBelow = .45em
activeTabBackgroundColor = #f2f2f2

.chrome-tabs
  box-sizing border-box
  position relative
  font-size 10px
  height 4.2em
  background linear-gradient(#dad9da, #d9d8d9)
  padding chromeTabSpaceAbove 1.2em chromeTabSpaceBelow 1.2em
  border-radius .5em .5em 0 0
  box-shadow 0 .05em #b7b7b7
  overflow hidden
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

  *
    box-sizing inherit
    font-family inherit

  .chrome-tabs-bottom-bar
    position absolute
    bottom 0
    height chromeTabSpaceBelow
    left 0
    width 100%
    background activeTabBackgroundColor
    box-shadow 0 -.05em rgba(0, 0, 0, .27)
    z-index 20

  .chrome-tabs-content
    position relative
    width 100%
    height 100%
    overflow hidden

  .chrome-tab
    position absolute
    left 0
    height 2.8em
    width 24em
    border 0
    margin 0
    z-index 1

    &, *
      user-select none
      cursor default

    .chrome-tab-background
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      overflow hidden
      pointer-events none

      > svg
        width 100%
        height 100%

        .chrome-tab-shadow
          fill none
          stroke rgba(0, 0, 0, .27)
          stroke-width .5px

        .chrome-tab-background
          fill #d0d0d0
          transform translateX(.25px) translateY(.25px)

    &.chrome-tab-current
      z-index 999

      .chrome-tab-background > svg .chrome-tab-background
        fill activeTabBackgroundColor

    @keyframes chrome-tab-just-added
      to
        top 0

    &.chrome-tab-just-added
      top 10px
      animation chrome-tab-just-added 120ms forwards ease-in-out

  &.chrome-tabs-sorting .chrome-tab:not(.chrome-tab-currently-dragged),
  &:not(.chrome-tabs-sorting) .chrome-tab.chrome-tab-just-dragged
    transition transform 120ms ease-in-out

  .chrome-tab-favicon
    position relative
    margin-left 1.6em
    height 1.6em
    width 1.6em
    background-size 1.6em
    margin-top .6em
    z-index 3
    display inline-block
    vertical-align top
    pointer-events none

  .chrome-tab-title
    position relative
    display inline-block
    vertical-align top
    color #222
    padding 0 .25em
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    font-size 1.2em
    margin-top .5em
    max-width calc(100% - 5em)
    pointer-events none

  .chrome-tab-close
    position absolute
    width 1.4em
    height 1.4em
    border-radius 50%
    z-index 2
    right 1.4em
    top .7em
    color #505050

    &:before
      font-family "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif
      content "\00D7"
      position absolute
      display block
      top .05em
      bottom 0
      left 0
      width 100%
      text-align center
      font-size 1.15em
      line-height 1

    &:hover

      &, &:active
        color #fff

    &:hover
      background #e25c4b

      &:active
        background #b74a3b
