.chrome-tabs-shell.chrome-tabs-dark-theme {
  background: #1e1e1e;
}
.chrome-tabs-shell.chrome-tabs-dark-theme .chrome-shell-bottom-bar {
  background: #505050;
  box-shadow: 0 -0.05em #161819;
}
.chrome-tabs-shell.chrome-tabs-dark-theme .chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-shadow {
  stroke: #161819;
}
.chrome-tabs-shell.chrome-tabs-dark-theme .chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
  fill: #373737;
}
.chrome-tabs-shell.chrome-tabs-dark-theme .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-background > svg .chrome-tab-background {
  fill: #505050;
}
.chrome-tabs-shell.chrome-tabs-dark-theme .chrome-tabs .chrome-tab .chrome-tab-title {
  color: #fff;
}
.chrome-tabs-shell.chrome-tabs-dark-theme .chrome-tabs .chrome-tab .chrome-tab-close:not(:hover) {
  color: #cfcfcf;
}
