activeTabBackgroundColor = #505050

.chrome-tabs.chrome-tabs-dark-theme
  background linear-gradient(#1b1d1f, #1d1f21)
  box-shadow 0 .05em #282828

  .chrome-tabs-bottom-bar
    background activeTabBackgroundColor
    box-shadow 0 -.05em rgba(0, 0, 0, .5)

  .chrome-tab

    .chrome-tab-background

      > svg

        .chrome-tab-shadow
          stroke rgba(0, 0, 0, .5)

        .chrome-tab-background
          fill #373737

    &.chrome-tab-current .chrome-tab-background > svg .chrome-tab-background
      fill activeTabBackgroundColor

    .chrome-tab-title
      -webkit-font-smoothing antialiased
      color #fff

    .chrome-tab-close:not(:hover)
      color #cfcfcf
