chromeTabSpaceAbove = .8em
chromeTabSpaceBelow = .4em
activeTabBackgroundColor = #fff

.chrome-tabs
  box-sizing border-box
  position relative
  font-size 10px
  height 4.6em
  background #dee1e6
  padding chromeTabSpaceAbove 1.2em chromeTabSpaceBelow 1.2em
  border-radius .5em .5em 0 0
  overflow hidden
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

  *
    box-sizing inherit
    font-family inherit

  .chrome-tabs-bottom-bar
    position absolute
    bottom 0
    height chromeTabSpaceBelow
    left 0
    width 100%
    background activeTabBackgroundColor
    z-index 10

  .chrome-tabs-content
    position relative
    width 100%
    height 100%
    overflow hidden

  .chrome-tab
    position absolute
    left 0
    height 3.4em
    width 24em
    border 0
    margin 0
    z-index 1

    &, *
      user-select none
      cursor default

    .chrome-tab-background
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      overflow hidden
      pointer-events none

      > svg
        width 100%
        height 100%

        .chrome-tab-background
          fill #f4f5f6

    &.chrome-tab-current
      z-index 5

      .chrome-tab-background > svg .chrome-tab-background
        fill activeTabBackgroundColor

    &:not(.chrome-tab-current)

      .chrome-tab-background
        transition opacity .2s ease
        opacity 0

      &:hover
        z-index 2

      &:hover, &.chrome-tab-currently-dragged

        .chrome-tab-background
          opacity 1

    @keyframes chrome-tab-just-added
      to
        top 0

    &.chrome-tab-just-added
      top 10px
      animation chrome-tab-just-added 120ms forwards ease-in-out

  &.chrome-tabs-sorting .chrome-tab:not(.chrome-tab-currently-dragged),
  &:not(.chrome-tabs-sorting) .chrome-tab.chrome-tab-just-dragged
    transition transform 120ms ease-in-out

  .chrome-tab-drag-handle
    position absolute
    top 0
    left .9em
    right .9em
    bottom 0

  .chrome-tab-dividers
    position absolute
    top .7em
    right .9em
    bottom .7em
    left .9em
    border 1px solid #a9adb0
    border-top 0
    border-bottom 0
    pointer-events none
    transition border-left-color .2s ease, border-right-color .2s ease

  .chrome-tab:first-child .chrome-tab-dividers
    border-left-color transparent

  .chrome-tab:last-child .chrome-tab-dividers
    border-right-color transparent

  .chrome-tab-favicon
    position relative
    margin-left 1.9em
    height 1.6em
    width 1.6em
    background-size 1.6em
    margin-top .9em
    z-index 2
    display inline-block
    vertical-align top
    pointer-events none

  .chrome-tab-title
    position relative
    display inline-block
    vertical-align top
    margin-top .75em
    margin-left 1.6em
    overflow hidden
    white-space nowrap
    font-size 1.2em
    width calc(100% - 5em)
    color #5f6368
    -webkit-mask-image linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) calc(100% - 2em), transparent)
    mask-image linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) calc(100% - 2em), transparent)
    pointer-events none

  .chrome-tab-favicon + .chrome-tab-title
    margin-left .5em
    width calc(100% - 7em)

  .chrome-tab.chrome-tab-current .chrome-tab-title
    color #45474a

  .chrome-tab-close
    position absolute
    width 1.6em
    height 1.6em
    border-radius 50%
    z-index 1
    right 1.7em
    top .9em
    background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(0, 0, 0, .7)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>")
    background-position center center
    background-repeat no-repeat
    background-size .8em .8em

    &:hover
      background-color #e8eaed

      &:active
        background-color #dadce0
