.chrome-tabs-shell {
  box-sizing: border-box;
  position: relative;
  font-size: 10px;
  height: 4.2em;
  background: linear-gradient(#dad9da, #d9d8d9);
  padding: 1em 1.2em 0.6em 1.2em;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: 0 0.05em #b7b7b7;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.chrome-tabs-shell * {
  box-sizing: inherit;
  font-family: inherit;
}
.chrome-tabs-shell .chrome-shell-bottom-bar {
  position: absolute;
  bottom: 0;
  height: 0.45em;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  box-shadow: 0 -0.05em rgba(0,0,0,0.27);
  z-index: 20;
}
.chrome-tabs-shell.chrome-tabs-sorting .chrome-tabs:not(.chrome-tabs-clone) .chrome-tab:not(.ui-sortable-draggable-item) {
  opacity: 0;
}
.chrome-tabs {
  position: relative;
  width: 9999em;
}
.chrome-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.chrome-tabs.chrome-tabs-clone {
  position: absolute;
  top: 1em;
  pointer-events: none;
}
.chrome-tabs.chrome-tabs-clone .chrome-tab {
  transition: left 120ms ease-in-out;
  position: absolute;
}
.chrome-tabs .chrome-tab {
  float: left;
  position: relative;
  height: 2.8em;
  width: 24em;
  border: 0;
  margin: 0;
  z-index: 1;
}
.chrome-tabs .chrome-tab,
.chrome-tabs .chrome-tab * {
  user-select: none;
  cursor: default;
}
.chrome-tabs .chrome-tab:not(:last-child) {
  margin-right: -1.4em;
}
.chrome-tabs .chrome-tab .chrome-tab-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg {
  width: 100%;
  height: 100%;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-shadow {
  fill: none;
  stroke: rgba(0,0,0,0.27);
  stroke-width: 0.5px;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
  fill: #d0d0d0;
  transform: translateX(0.25px) translateY(0.25px);
}
.chrome-tabs .chrome-tab.chrome-tab-current {
  z-index: 999;
}
.chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-background > svg .chrome-tab-background {
  fill: #f2f2f2;
}
.chrome-tabs .chrome-tab .chrome-tab-favicon {
  position: relative;
  margin-left: 1.6em;
  height: 1.6em;
  width: 1.6em;
  background-size: 1.6em;
  margin-top: 0.6em;
  z-index: 3;
  display: inline-block;
  vertical-align: top;
}
.chrome-tabs .chrome-tab .chrome-tab-title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #222;
  padding: 0 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  margin-top: 0.5em;
  max-width: calc(100% - 5em);
}
.chrome-tabs .chrome-tab .chrome-tab-close {
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  z-index: 2;
  right: 1.4em;
  top: 0.7em;
  color: #505050;
}
.chrome-tabs .chrome-tab .chrome-tab-close:before {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  content: "\00D7";
  position: absolute;
  display: block;
  top: 0.05em;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.15em;
  line-height: 1;
}
.chrome-tabs .chrome-tab .chrome-tab-close:hover,
.chrome-tabs .chrome-tab .chrome-tab-close:hover:active {
  color: #fff;
}
.chrome-tabs .chrome-tab .chrome-tab-close:hover {
  background: #e25c4b;
}
.chrome-tabs .chrome-tab .chrome-tab-close:hover:active {
  background: #b74a3b;
}
