@import compass/css3
@import compass/utilities/general/clearfix

.chrome-tabs-shell
    position: relative
    background-color: #ccc
    +background-image(linear-gradient(top, #e1e1e1, #b3b3b3))
    padding: 10px 10px 6px 10px
    +border-radius(4px 4px 0 0)
    height: 23px
    overflow: hidden

    .chrome-shell-bottom-bar
        position: absolute
        bottom: 0px
        height: 4px
        left: 0px
        width: 100%
        border-top: 1px solid rgba(0, 0, 0, .35)
        +box-shadow(inset 0 1px rgba(255, 255, 255, .6))
        background-color: #eee
        +background-image(linear-gradient(top, #ebebeb, #ebebeb))
        border-bottom: 1px solid rgba(0, 0, 0, .35)
        z-index: 20

    &.chrome-tabs-sorting .chrome-tabs:not(.chrome-tabs-clone) .chrome-tab:not(.ui-sortable-draggable-item)
        opacity: 0

.chrome-tabs
    +pie-clearfix
    position: relative
    width: 99999px

    &.chrome-tabs-clone
        position: absolute
        top: 10px
        pointer-events: none

        .chrome-tab
            +transition(left 120ms ease-in-out)
            position: absolute

    *
        -webkit-user-select: none
        cursor: default
        font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif
        font-size: 11px
        line-height: 13px

    .chrome-tab
        float: left
        position: relative
        height: 25px
        width: 160px
        border: 0px
        margin: 0px
        z-index: 1
        +box-shadow(inset 0 1px rgba(255, 255, 255, .4), 0 -1px rgba(0, 0, 0, .2), -1px 0 rgba(0, 0, 0, .2), 1px 0 rgba(0, 0, 0, .2))

        &, .chrome-tab-curves-left, .chrome-tab-curves-right
            background-color: #e6e6e6
            +background-image(linear-gradient(top, #e0e0e0, #d0d0d0))

        .cssmasks &
            +box-shadow(inset 0 1px rgba(255, 255, 255, .3), 0 -1px rgba(0, 0, 0, .24))
            margin: 0 3px 0 20px

        .chrome-tab-curves
            display: none

            .cssmasks &
                display: block

            *
                position: absolute
                width: 20px
                height: 24px
                -webkit-mask-size: 100%

        .chrome-tab-curves-left, .chrome-tab-curves-left-highlight, .chrome-tab-curves-left-shadow
            -webkit-mask-image: url("../svg/tab-left.svg")

        .chrome-tab-curves-right, .chrome-tab-curves-right-highlight, .chrome-tab-curves-right-shadow
            -webkit-mask-image: url("../svg/tab-right.svg")

        .chrome-tab-curves-left, .chrome-tab-curves-right
            top: 1px
            z-index: 1

        .chrome-tab-curves-left
            left: -20px

        .chrome-tab-curves-right
            right: -20px

        .chrome-tab-curves-left-highlight, .chrome-tab-curves-right-highlight
            top: 0px
            width: 21px
            height: 25px
            background-color: #ececec

        .chrome-tab-curves-left-highlight
            left: -21px

        .chrome-tab-curves-right-highlight
            right: -21px

        .chrome-tab-curves-left-shadow, .chrome-tab-curves-right-shadow
            top: -1px
            width: 22px
            height: 26px
            background: rgba(0, 0, 0, .29)

        .chrome-tab-curves-left-shadow
            left: -22px

        .chrome-tab-curves-right-shadow
            right: -22px

        &.chrome-tab-current
            z-index: 999

            .cssmasks &
                +box-shadow(inset 0 1px rgba(255, 255, 255, .6), 0 -1px rgba(0, 0, 0, .25))

            &, .chrome-tab-curves-left, .chrome-tab-curves-right
                background-color: #eee
                +background-image(linear-gradient(top, #eee, #ebebeb))

            .chrome-tab-curves-left-shadow, .chrome-tab-curves-right-shadow
                background: rgba(0, 0, 0, .34)

            .chrome-tab-curves-left-highlight, .chrome-tab-curves-right-highlight, .chrome-tab-curves-left-shadow, .chrome-tab-curves-right-shadow
                height: 25px

            .chrome-tab-curves-left-highlight, .chrome-tab-curves-right-highlight
                background-color: #f9f9f9

        .cssmasks &:not(.chrome-tab-current)

            &:after
                pointer-events: none
                content: ""
                display: block
                position: absolute
                bottom: 2px
                left: -16px
                right: -16px
                background: rgba(0, 0, 0, .04)
                height: 1px
                z-index: 1

        .chrome-tab-favicon
            height: 16px
            width: 16px
            background-size: 16px
            position: absolute
            left: 9px
            top: 5px
            z-index: 3

            .cssmasks &
                left: 0
                top: 4px

        .chrome-tab-title
            color: #222
            padding: 5px 30px
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

            .cssmasks &
                padding: 5px 5px 5px 18px

        .chrome-tab-close
            position: absolute
            top: 6px
            right: 7px
            width: 14px
            height: 14px
            +border-radius(50%)
            z-index: 2

            .cssmasks &
                right: -5px
                top: 6px

            &:before
                content: "\00D7"
                position: absolute
                top: 0px
                right: 0px
                height: 14px
                width: 14px
                +border-radius(50%)
                text-align: center
                font-size: 11px
                line-height: 12px
                color: #777
                text-shadow: 0 1px rgba(255, 255, 255, .3)

            &:hover:before, &:active:before
                color: #fff
                text-shadow: 0 1px rgb(185, 85, 76)

            &:hover, &:active
                +box-shadow(inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px #B9554C)
                background: rgb(221, 131, 123)

            &:active:before
                +box-shadow(inset 0 0 0 1px rgb(185, 85, 76), inset 0 1px 3px rgba(185, 85, 76, 1), inset 0 0 20px rgba(0, 0, 0, .1))
