body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 16px;
}

@media (min-width: 800px) {
  body {
    margin: 60px;
  }
}

button {
  font-family: inherit;
  display: inline-block;
  background: #e0e0e0;
  border: 0;
  border-radius: 3px;
  padding: .6em 1em .7em;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 .5px rgba(0, 0, 0, .5);
}

.chrome-tabs-shell.chrome-tabs-dark-theme ~ p button {
  background: #373737;
  color: #fff;
  box-shadow: 0 .5px #000;
}

.carbonads-wrapper {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 50px;
}

.carbonads-wrapper * {
  box-sizing: inherit;
}

#carbonads {
  width: 162px;
  display: block;
  overflow: hidden;
  line-height: 1.33;
  width: 130px;
  max-width: 100%;
  font-size: 12px;
  margin: 0 auto;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img, .carbon-img img {
  display: block;
  width: 130px;
  height: 100px;
}

.carbon-img {
  margin-bottom: 7px;
  background: #ccc;
}

.carbon-img img {
  background: #fff;
}

.carbon-text {
  color: inherit;
  display: block;
  float: left;
  text-align: left;
  text-decoration: none;
  color: #666;
  letter-spacing: .025em;
  line-height: 1.35;
}

.carbon-poweredby {
  color: #b9b9b9;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 11px;
}
